body{background:linear-gradient(rgb(0, 255, 153),rgb(0, 234, 255))}
h1{color: darkblue; font-family:cursive;}
h2{color: darkblue; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
h3{color: darkblue; font-family:cursive;}
h4{color:darkblue; font-family:unset}
button{color: rgb(4, 255, 117); background: linear-gradient(rgb(0, 255, 0),rgb(0, 187, 255)); border-radius: 19827382178937921739721893789127px;}
div{border-color: aqua; background-color: black; color: white;}